<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <h2>the bowling alley</h2>
        <p>the bowling alley address</p>
    </body>
</html>